*$py.class
*.7z
*.aux
*.bz2
*.chi
*.chs.h
*.class
*.dat
*.dyn_hi
*.dyn_o
*.egg
*.elf
*.eventlog
*.gz
*.hi
*.hp
*.jar
*.key
*.ko
*.lock
*.log
*.o
*.obj
*.out
*.pid
*.prof
*.py[cod]
*.seed
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.HTF/
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.apdisk
.bower-cache
.bower-registry
.bower-tmp
.cabal-sandbox/
.completer.hist
.fseventsd
.grunt
.hpc
.hsenv
.idea
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lock-wscript
.merlin
.netrwhist
.nrepl-port
.psci*
.pulp-cache
.sass-cache
.stack-work/
.vimsession~
.virtualenv
.vscode
/.build/
/checkouts/
/classes/
/lib/
/target/
Icon
Network Trash Folder
Temporary Items
__pycache__/
_build/
_references.js
bower_components
build.js
build/Release
bundle
bundle.js
cabal-dev
cabal.project.local
cabal.sandbox.config
coverage
data
db
dist
dist-*
lib-cov
logs
node_modules
npm-debug.log*
output
pids
pom.xml
pom.xml.asc
public/lib
src/.webpack.js
x/
