* filter=ignoreline

* text=auto

text eol=lf

*.7z binary
*.a binary
*.app binary
*.class binary
*.db binary
*.dll binary
*.dylib binary
*.ear binary
*.eot binary
*.eps binary
*.fla binary
*.flv binary
*.gch binary
*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.la binary
*.lai binary
*.lib binary
*.lo binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.o binary
*.obj binary
*.out binary
*.p binary
*.pch binary
*.pdf binary
*.pkl binary
*.png binary
*.pyc binary
*.pyd binary
*.pyo binary
*.slo binary
*.so binary
*.svg binary
*.swf binary
*.tif binary
*.tiff binary
*.ttf binary
*.war binary
*.woff2 binary
*.woff binary
*.zip binary

*.adoc text
AUTHORS text
*.bat text
*.bowerrc text
*.cc text
*.coffee text
*.cpp text
.csslintrc text
*.css text
*.csv text
*.c text
*.c++ text
*.cxx text
*.df text
*.dot text
.editorconfig text
*.ejs text
.gitattributes text
.gitconfig text
.gitignore text
*.haml text
*.hbs text
*.hbt text
*.hh text
*.hpp text
.htaccess text
*.h text
*.h++ text
*.html text
*.htm text
*.inc text
*.ini text
*.jade text
*.java text
.jscsrc text
.jshintignore text
.jshintrc text
*.json text
*.jspf text
*.jsp text
*.js text
*.jsx text
*.latte text
*.less text
LICENSE text
*.lua text
*.md text
*.mustache text
*.npmignore text
*.php text
*.phtml text
*.pl text
*.pm text
Procfile text
*.properties text
*.pxd text
*.py3 text
*.py text
*.pyw text
*.pyx text
*.rb text
*.sass text
*.scm text
*.scss text
*.sh text
.slugignore text
*.sql text
*.styl text
*.tab text
*.textile text
*.tld text
*.tmpl text
*.ts text
*.tsv text
*.txt text
*.xml text
*.yaml text
*.yml text

*.pdf diff=astextplain
*.PDF diff=astextplain

npm-shrinkwrap.json -diff
yarn.lock -diff
package-lock.json -diff
